@model ArtGallery.Models.CommentViewModel
@*@{
    ViewBag.Title = "CreateComment";
}*@

<h2>AddComment</h2>
@using (Html.BeginForm("CreateComment", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.HiddenFor(model => model.PostId, new { htmlAttributes = new { @class = "form-control", value = Model.PostId } })
    </div>

<div style = "text-align:left" class="form-group" >
      @Html.LabelFor(m => m.Text, "Your comment", new { @class = "col-md-2 control-label" })
      
<div class="col-md-10">
    @Html.TextBoxFor(m => m.Text, new { @class = "form-control" })
    </div>
    </div>
    <div style="text-align:left" class="form-group">
        @Html.LabelFor(m => m.Mark, "Mark", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            1: @Html.RadioButtonFor(m => m.Mark, "1")
            2:  @Html.RadioButtonFor(m => m.Mark, "2")
            3:  @Html.RadioButtonFor(m => m.Mark, "3")
            4:  @Html.RadioButtonFor(m => m.Mark, "4")
            5:  @Html.RadioButtonFor(m => m.Mark, "5")
            <p class="text-danger">
                @Html.ValidationMessageFor(model => model.Text)
            </p>
            <p class="text-danger">
                @Html.ValidationMessageFor(model => model.Mark)
            </p>
            <input type="submit" value="add" />
        </div>
    </div>

}

